<!DOCTYPE html>
<html>
    <head>
        <!-- Chrome, Firefox OS and Opera -->
        <meta name="theme-color" content="#F2C48D">
        <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#F2C48D">
        <!-- iOS Safari -->
        <Title>ONside - Book, Play, Interact </Title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/main.css">
        <script src="/jquery.js"></script>
        <script src="/script.js"></script>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
    </head>
    <body>
      
        <nav class="navbar fixed-top navbar-expand-lg ">
          
          <div class="navbar-brand"><img id="onsidelogo" src="https://i.imgur.com/ECvZB22.png"></div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
          </button>
        
          <div class="collapse navbar-collapse justify-content-end fill" id="navbarSupportedContent">
            <ul class="navbar-nav">
              
              
              
              <% if (currentUser){ %>
              
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle <%= (route!=undefined && route=="profile")?"navactive":""%>" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome <%=currentUser.firstname%></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="nav-link dropdown-item" href="/profiles/self/getdetails">Edit Profile</a>
                  <div class="dropdown-divider"></div>
                  <a class="nav-link dropdown-item<%= (route!=undefined && route=="bookings")?"navactive":""%>" href="/profiles/self/mybookings/">My Bookings</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="right nav-link <%= (route!=undefined && route=="slots")?"navactive":""%>" href="/slots" >Slots</a>
              </li>
              <li class="nav-item">
                
              </li>
              <% if(!currentUser.messages){
              var messagenot=0; %>
              <li class="nav-item">
                <a class="nav-link <%= (route!=undefined && route=="messages")?"navactive":""%>" href="/messages">Messages<% if (messagenot>0) { %> <span class="slotred"><span class="slotred"><%=messagenot%></span> <% } %></a>
              </li>
              <% } else{
              var messagenot=currentUser.messages.unread;%>
              <li class="nav-item">
                <a class="nav-link <%= (route!=undefined && route=="messages")?"navactive":""%>" href="/messages">Messages<% if (messagenot>0) {%><span class="slotred"><%=messagenot%></span><% } %></a>
              </li>
              <% } %>
              <li class="nav-item">
                <a class="nav-link logoutlink" href="/logout" class="<%= (route!=undefined && route=="profile")?"navactive":""%>">Log out</a>
              </li>
              <!--<li class="nav-item">-->
              <!--  <a class="nav-link" href="/profiles/self/getdetails">Edit Profile</a>-->
              <!--</li>-->
              
              
              <% } else { %>
              <li class="nav-item">
                <a class="nav-link loginlink" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="right nav-link" href="/signup">Register</a>
              </li>
              
              <% } %>
              
            </ul>
            
          
        </nav>
      </div>
        <div class="main-container container">
        
        <% if(success && success.length>0){ %>
        <div class="successflash text-center flashdiv">
          <div class="closeflash text-right"><a>X</a></div>
          <div class="success-message"><h1><i class="fas fa-check-circle"></i></h1><p><%= success %> <p></div>
        </div>
        <% } if(error && error.length>0){ %>
        <div class="errorflash text-center flashdiv">
          <div class="closeflash text-right"><a >X</a></div>
          <div class="error-message"><h1><i class="fas fa-exclamation-triangle"></i></h1><p><%= error %><p></div>
        </div>
        <% } %>
        
    