<% include ../partials/header.ejs %>


<div class="text-center">

<div class="convocontainer d-inline-block">
  <h5 class="text-center mt-4 ">Additional Details</h5>
  <div class="detailscap">
    <p>Hello <%= currentUser.firstname %>, care to tell us a little about yourself?</p>
    <a href="/slots">[ Proceed to bookings instead ] >></a>    
  </div>
    
    <div class="detailsform slotwindow text-center">
        <form class="loginform " method="POST" action="/profiles/self/getdetails">
        <div class="form-group">
        <p>Positions:</p>
            <select name="positiona">
                <option value="">-</option>
                <option <% if(currentUser.positions[0]=="gk"){ %> selected=<%="true" %> <% } %> value="gk">GK</option>
                <option <% if(currentUser.positions[0]=="cb"){ %> selected=<%= "true" %> <% } %>value="cb">CB</option>
                <option <% if(currentUser.positions[0]=="cm"){ %> selected=<%="true" %> <% } %>value="cm">CM</option>
                <option <% if(currentUser.positions[0]=="cdm"){ %> selected=<%="true" %> <% } %>value="cdm">CDM</option>
                <option <% if(currentUser.positions[0]=="cam"){ %> selected=<%="true" %> <% } %>value="cam">CAM</option>
                <option <% if(currentUser.positions[0]=="wb"){ %> selected=<%="true" %> <% } %>value="wb">WB</option>
                <option <% if(currentUser.positions[0]=="wr"){ %> selected=<%="true" %> <% } %>value="wr">WR</option>
                <option <% if(currentUser.positions[0]=="fw"){ %> selected=<%="true" %> <% } %>value="fw">FW</option>
                <option <% if(currentUser.positions[0]=="st"){ %> selected=<%="true" %> <% } %>value="st">ST</option>
            </select>
            <select name="positionb">
                <option value="">-</option>
                <option <% if(currentUser.positions[1]=="gk"){ %> selected=<%"true" %> <% } %> value="gk">GK</option>
                <option <% if(currentUser.positions[1]=="cb"){ %> selected=<%"true" %> <% } %> value="cb">CB</option>
                <option <% if(currentUser.positions[1]=="cm"){ %> selected=<%"true" %> <% } %>value="cm">CM</option>
                <option <% if(currentUser.positions[1]=="cdm"){ %> selected=<%= "true" %> <% } %>value="cdm">CDM</option>
                <option <% if(currentUser.positions[1]=="cam"){ %> selected= <%="true" %> <% } %>value="cam">CAM</option>
                <option <% if(currentUser.positions[1]=="wb"){ %> selected=<%="true" %> <% } %>value="wb">WB</option>
                <option <% if(currentUser.positions[1]=="wr"){ %> selected=<%="true" %> <% } %>value="wr">WR</option>
                <option <% if(currentUser.positions[1]=="fw"){ %> selected=<%="true" %> <% } %>value="fw">FW</option>
                <option <% if(currentUser.positions[1]=="st"){ %> selected=<%="true" %> <% } %>value="st">ST</option>
            </select>
            <select name="positionc">    
                <option value="">-</option>
                <option <% if(currentUser.positions[2]=="gk"){ %> selected=<%="true" %> <% } %> value="gk">GK</option>
                <option <% if(currentUser.positions[2]=="cb"){ %> selected=<%="true" %> <% } %> value="cb">CB</option>
                <option <% if(currentUser.positions[2]=="cm"){ %> selected=<%="true" %> <% } %> value="cm">CM</option>
                <option <% if(currentUser.positions[2]=="cdm"){ %> selected=<%="true" %> <% } %> value="cdm">CDM</option> 
                <option <% if(currentUser.positions[2]=="cam"){ %> selected=<%="true" %> <% } %> value="cam">CAM</option>
                <option <% if(currentUser.positions[2]=="wb"){ %> selected=<%="true" %> <% } %> value="wb">WB</option>
                <option <% if(currentUser.positions[2]=="wr"){ %> selected=<%="true" %> <% } %> value="wr">WR</option>
                <option <% if(currentUser.positions[2]=="fw"){ %> selected=<%="true" %> <% } %> value="fw">FW</option>
                <option <% if(currentUser.positions[2]=="st"){ %> selected=<%="true" %> <% } %> value="st">ST</option>
            </select>
        </div>
        
        <div class="form-group teamplayed">
            <p>Associations(Teams part of):</p>
            <input type="text" name="associationa" value="<%=currentUser.associations[0]%>">
            <input type="text" name="associationb" value="<%=currentUser.associations[1]%>" >
            <input type="text" name="associationc" value="<%=currentUser.associations[2]%>" >
            <!--<p id="addplayed">+</p>-->
        </div>
        
        <div class="form-group teamsupport">
            <p>Teams you support </p>
            <input type="text" name="favteama" value="<%=currentUser.favteams[0]%>">
            <input type="text" name="favteamb" value="<%=currentUser.favteams[1]%>" >
            <input type="text" name="favteamc" value="<%=currentUser.favteams[2]%>" >
            <!--<p id="addsupport">+</p>-->
        </div>
        <div class="form-group">
            <p>Stronger Foot</p>
            <select name = "strongfoot">
                <option value="r" <% if(currentUser.strongfoot=="r"){ %> selected=<%="true" %> <% } %>>Right</option>
                <option value="l" <% if(currentUser.strongfoot=="l"){ %> selected=<%="true" %> <% } %>>Left</option>
                <option value="b" <% if(currentUser.strongfoot=="b"){ %> selected=<%="true" %> <% } %>>Both</option>
            </select>
        </div>
        <div class="form-group hometown">
            <p>Hometown</p>
            <input type="text" name="hometown" value="<%=currentUser.hometown%>">
        </div>
        <div class="form-group actionbutton">
            <button type="submit">Update</input>
        </div>
        
    </form>
        
    </div>
</div>
</div>

<% include ../partials/footer.ejs %>