<% include ../partials/header.ejs %>
<% 
    var now = new Date();
    now.setHours((now.getUTCHours())+5);
    now.setMinutes((now.getUTCMinutes())+30);
%>
<div class="daynav"><a href="#" class="dayselect">Ongoing</a><a href="#">Upcoming</a><a href="#">Past</a></div>

<div class="slotwindow">
    
<!-----------ongoing games ------------>
<div id="slotsongoing" class="d-flex slotsection flex-column flex-md-row align-items-center">
<% if (ongoingslots.length==1){ %>

<div class="card p-0 mx-2 my-1">
                    <a href="/slots/<%=ongoingslots[0]._id%>" class="h-100">
                        <div class="card-header"  >
                            <h6><%= ongoingslots[0].start.getHours()%>:<%=ongoingslots[0].start.getMinutes()<10?'0':''%><%= ongoingslots[0].start.getMinutes()%>-<%= ongoingslots[0].end.getHours()%>:<%=ongoingslots[0].end.getMinutes()<10?'0':''%><%= ongoingslots[0].end.getMinutes()%></h6>
                            <h6><%= ongoingslots[0].start.toDateString() %></h6>
                        
                        
                        <% if(ongoingslots[0].start>now){%>
                        <p>VACANCIES: <span class="<%=slotbg%>"><%=slot.vacancies%></span></p>
                        <% } else if(ongoingslots[0].start < now && ongoingslots[0].end> now){ %>
                        <p class="slotalert">ONGOING!!</p>
                        <% } %>
                        </div>
                        <ul class="list-group list-group-flush">
                            <%ongoingslots[0].bookings.forEach(function(booking){
                                if(booking.companions==0){
                                %>
                                    <li><i class="fas fa-user"></i><%=booking.firstname%></li>
                                <%
                                }
                                
                                else{
                                %>
                                    <li><i class="fas fa-users"></i><%=booking.firstname%>+<%=booking.companions%></li>
                                <%
                                }
                            });%>
                        </ul>
                        
                    </a>
</div>
<% } else{ %>
    <div class="noslotmessage"><p id=>No Ongoing Games</p></div>
<% }%>
</div>
<!-----------slots upcoming ------------>
<div id="slotsupcoming" class="d-none slotsection flex-column flex-md-row align-items-center">
    
    <% if(upcomingslots.length>0){
        upcomingslots.forEach(function(slot){
            var slotbg="";
            if(slot.vacancies && slot.vacancies>=6){
                slotbg="slotgreen";
            }
            else if (slot.vacancies!=undefined && slot.vacancies>=3){
                slotbg="slotyellow";
            }
            else if (slot.vacancies){
                slotbg="slotred";
            }
            console.log("slotstoday ejs:"+slot);
            %>
            
                <div class="card p-0 mx-2 my-1">
                    <a href="/slots/<%=slot._id%>" class="h-100">
                        <div class="card-header"  >
                            <h6><%= slot.start.getHours()%>:<%=slot.start.getMinutes()<10?'0':''%><%= slot.start.getMinutes()%>-<%= slot.end.getHours()%>:<%=slot.end.getMinutes()<10?'0':''%><%= slot.end.getMinutes()%></h6>
                            <h6><%= slot.start.toDateString() %></h6>
                        
                        
                        <% if(slot.start> now){%>
                        <p>VACANCIES: <span class="<%=slotbg%>"><%=slot.vacancies%></span></p>
                        <% } else if(slot.start < now && slot.end> now ){ %>
                        <p class="slotalert">ONGOING!!</p>
                        <% } %>
                        </div>
                        <ul class="list-group list-group-flush">
                            <% slot.bookings.forEach(function(booking){
                                if(booking.companions==0){
                                %>
                                    <li><i class="fas fa-user"></i><%=booking.firstname%></li>
                                <%
                                }
                                
                                else{
                                %>
                                    <li><i class="fas fa-users"></i><%=booking.firstname%>+<%=booking.companions%></li>
                                <%
                                }
                            });%>
                        </ul>
                        
                    </a>
                </div>
            
    <% }) }
        else{ %>
        <div class="noslotmessage"><p id=>No upcoming games!!</p></div>    
        <% } %>
</div>

<!-----------slots past ------------>

<div id="slotspast" class="d-none slotsection flex-column flex-md-row align-items-center">
    
    <% if(pastslots.length>0){
        pastslots.forEach(function(slot){
            var slotbg="slotdead";
            
            %>
            
                <div class="card p-0 mx-2 my-1">
                    <a href="/slots/<%=slot._id%>" class="h-100">
                        <div class="card-header"  >
                            <h6><%= slot.start.getHours()%>:<%=slot.start.getMinutes()<10?'0':''%><%= slot.start.getMinutes()%>-<%= slot.end.getHours()%>:<%=slot.end.getMinutes()<10?'0':''%><%= slot.end.getMinutes()%></h6>
                            <h6><%= slot.start.toDateString() %></h6>
                        </div>
                        
                        <ul class="list-group list-group-flush">
                            <%slot.bookings.forEach(function(booking){
                                if(booking.companions==0){
                                %>
                                    <li><i class="fas fa-user"></i><%=booking.firstname%></li>
                                <%
                                }
                                
                                else{
                                %>
                                    <li><i class="fas fa-users"></i><%=booking.firstname%>+<%=booking.companions%></li>
                                <%
                                }
                            });%>
                        </ul>
                        
                    </a>
                </div>
            
        <% }) 
        
        
        } else{ %>
        <div class="noslotmessage"><p id=>No Past Bookings!!</p></div>    
        <% } %>
</div>
</div>
<% include .././partials/footer.ejs %>