<% include ../partials/header.ejs %>



<div class="convocontainer d-inline-block w-100">
        <h5 class=" mt-4 text-center"><%= user.firstname %> <%= user.lastname %></h5>
        <div class="detailscap">
                <div class="delbutton my-2">
                        <a href="/messages/new/<%= user._id %>"><button>Message</button></a>        
                </div>
        </div>
        <div class= "profilecard">
                <h6><span>Name:</span><%= user.firstname %> <%= user.lastname %></h6>
                <h6><span>Position(s):</span><%= user.positions.map(x=>x.toUpperCase()) %> </h6>
                <h6><span>Associations(Teams Played for):</span><%= user.associations %> </h6>
                <h6><span>Favourite Teams:</span> <%= user.favteams %> </p>
                <h6><span>Stronger Foot:</span> <%= user.strongfoot=="r" ? "Right" : "Left" %> </h6>
                
                
        </div>
        
</div>

<% include ../partials/footer.ejs %>