<% include ../partials/header.ejs %>



<div class="convocontainer">
        <h5 class="text-center">My Profile</h5>
        <div class="detailscap">
                <div class="delbutton">
                        <a href="/profiles/self/getdetails"><button>Edit</button></a>        
                </div>
        </div>
        <div class= "profilecard">
                <h6><span>Name:</span><%= currentUser.firstname %> <%= currentUser.lastname %></h6>
                <h6><span>Position(s):</span><%= currentUser.positions.map(x=>x.toUpperCase()) %> </h6>
                <h6><span>Associations(Teams Played for):</span><%= currentUser.associations %> </h6>
                <h6><span>Favourite Teams:</span> <%= currentUser.favteams %> </p>
                <h6><span>Stronger Foot:</span> <%= currentUser.strongfoot=="r" ? "Right" : "Left" %> </h6>
                
                
        </div>
        
</div>

<% include ../partials/footer.ejs %>