<% include ../partials/header.ejs %>


<div class="convocontainer w-100 pb-2 d-inline-block">
    
    <div class="chatstreambox container d-flex flex-column">
        <div class="chatuser">
        <h6 class="text-center d-inline float-left"><%= currentUser.firstname %></h6>
        <h6 class="text-center d-inline float-right"><%= user.firstname %></h6>    
        </div>
        <div class="msgstreamcontainer">
        <%
        chatstream.messageList.forEach(function(message){ 
        
        if (message.content.length>0){
        %>
        
        
            <div class="messagetab <%= message.sender.userid.toString()==currentUser._id.toString() ? 'message-left' : 'message-right' %>">
                <div class="speechbubble"><p><%= message.content %></p></div>
            </div>
            
        <%
        }
            
        });
        
        %>
        </div>
        <form action="/messages/<%= user._id + suffix %>" method="POST" class="newmessageform" autocomplete="off">
            <div class="messageinput">
            <input type ="text" placeholder="write a message for <%=user.firstname%>..." required name="content">
            </div>
            <div class="sendmessagebtn">
                <button type="submit">
                    <i class="far fa-paper-plane"></i>
                </button>
            </div>
            
        </form>
    </div>
    
</div>

</div>

<% include ../partials/footer.ejs %>